.publicSwitch {
  margin-left: 1%;
  vertical-align: middle;
}

.gpxInput {
  border: none;
  cursor: pointer;
}

.gpxInput::-webkit-file-upload-button {
  box-shadow: none;
  cursor: pointer;
  background-color: #fbeec1;
  color: #bc986a;
  border: 2px solid #bc986a;
  margin: auto;
}

.routeImage {
  cursor: pointer;
  width: 150px;
  height: 150px;
  display: block;
  border: 3px solid #bc986a;
  border-radius: 4px;
}

.newImageModal {
  background-color: #fbeec1;
}

.newImage {
  width: 192px;
  height: 192px;
  display: block;
  border: 3px solid #bc986a;
  border-radius: 4px;
  margin-left: 30%;
}

.deleteImage {
  cursor: pointer;
  margin-left: 2%;
}

.imageRow {
  align-content: center;
}
