.dataContainer {
  margin-top: 5%;
}

.avatar {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #bc986a;
  border-radius: 4px;
}

.profrow {
  margin-top: 2%;
}

.profCol {
  margin-left: 3%;
}

.fileContainer {
  background-color: #fbeec1;
  box-shadow: none;
}

.profEditButton {
  float: right;
}
