.nfound {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  padding-top: 3%;
  background-color: #fbeec1;
}

.crash {
  width: 256px;
  height: 256px;
  position: relative;
  opacity: 0.2;
}
