.navbar {
  background-color: #fbeec1;
  margin: 0 auto;
  padding: 30px 0;
}

.brand {
  font-size: 1.75em;
  padding-left: 20px;
  padding-right: 20px;
  color: #394d0c;
}

.brand:hover {
  color: #8d8741;
}

.nav-link,
.navlinks {
  color: #8d8741;
  display: inline-block;
  padding: 3px 20px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
  margin: 6px 0 0;
}

.nav-link:hover,
.navlinks:hover {
  color: #64602f;
}

.log {
  margin-right: 20px;
}

.separator {
  color: #8d8741;
}
