.navbar {
  background-color: #fbeec1;
}
.nav-link {
  color: #8d8741;
}
.links {
  color: #8d8741;
}

.linkslog {
  color: #8d8741;
  padding-right: 5%;
}

.linkslog:hover {
  color: #927550;
}

.links:hover {
  color: #927550;
}
