.list {
  list-style-type: none;
  justify-content: center;
}
.tittle {
  padding-top: 2%;
  padding-bottom: 2%;
  color: #6b6630;
}

hr {
  align: center;
}

.container {
  margin-top: 2%;
}

li {
  line-height: 1.5;
}

.empty {
  margin-top: 5%;
}

.elem {
  background-color: #f5de8d;
  padding: 1%;
  transition: padding 200ms;
  margin-right: 35px;
}

.elem b {
  font-size: 80%;
}

.btn-ed {
  color: #bc986a;
  border: 2px solid #bc986a;
}

.btn-del {
  color: #bc986a;
  border: 2px solid #bc7a6a;
}

.btn-new {
  color: #bc986a;
  border: 2px solid #bc986a;
  margin: auto;
}

.btn-new:hover {
  color: #836b4b;
  border: 2px solid #bc986a;
}

.btns {
  float: right;
  margin-right: 10%;
  position: relative;
  transform: translateY(-15%);
}

.elem:hover {
  background-color: #fae9abfd;
  padding: 2.5%;
  box-shadow: 17px 14px 57px -15px #00000044;
}

.elem:hover .btns {
  opacity: 1;
}

.elem .btns {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
