.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #bc986a;
}

.container {
  background-color: #fbeec1;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
  max-width: 100%;
  width: auto;
}

.innerform {
  margin-left: 10%;
  margin-right: 10%;
}

#mapid {
  height: 180px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  margin: auto;
}

#mapid {
  height: 100%;
  width: 100%;
  margin: auto;
}

.formTittle {
  padding-top: 2%;
  color: #6b6630;
}

.tittle {
  padding-top: 2%;
  padding-bottom: 2%;
  color: #6b6630;
}

.goBackButton {
  float: right;
}

/* Button variants */

.btn-ed {
  color: #bc986a;
  border: 2px solid #bc986a;
}

.btn-del {
  color: #bc986a;
  border: 2px solid #bc7a6a;
}

.btn-new {
  box-shadow: none;
  color: #bc986a;
  border: 2px solid #bc986a;
  margin: auto;
}

.btn-new:hover {
  color: #53442f;
  border: 2px solid #bc986a;
}

.btn-new:active {
  color: #836b4b;
  border: 2px solid #bc986a;
}

.btn-back {
  color: #bc986a;
  border: 2px solid #bc986a;
  border-radius: 50%;
  margin: auto;
  float: right;
}

.btn-follow {
  box-shadow: none;
  color: #495a41 !important;
  background-color: #afcfa0;
  border: 2px solid #756652;
  /* float: right; */
  /* margin-right: 20%; */
  border-radius: 40%;
}
.btn-follow:active {
  box-shadow: none !important;
}
.btn-follow:hover {
  color: #000000 !important;
}

.btn-unfollow {
  box-shadow: none;
  background-color: #bd5d5d;
  color: #531e1e !important;
  border: 2px solid #bc986a;
  /* float: right; */
  /* margin-right: 20%; */
  border-radius: 40%;
}

.btn-unfollow:hover {
  color: #000000 !important;
}

.btn-unfollow:active {
  box-shadow: none !important;
}
